<!--Based on https://github.com/mailchimp/email-blueprints/blob/master/responsive-templates/base_boxed_basic_query.html -->

<!-- {% load static from staticfiles %} -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %} *|MC: SUBJECT|* {% endblock title %}</title>
        
        
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #DEE0E2; height: 100% !important; margin: 0; padding: 0; width: 100% !important;">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #DEE0E2; border-collapse: collapse !important; height: 100% !important; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0; width: 100% !important;">
                <tr>
                    <td align="center" valign="top" id="bodyCell" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-top: 4px solid #BBBBBB; height: 100% !important; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px; width: 100% !important;">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border: 1px solid #BBBBBB; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 600px;">
                            <tr>
                                <td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <!-- BEGIN PREHEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #F4F4F4; border-bottom: 1px solid #CCCCCC; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td valign="top" class="preheaderContent" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #808080; font-family: Helvetica; font-size: 10px; line-height: 125%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; padding-top: 10px; text-align: left;" mc:edit="preheader_content00">
                                                {% block teaser %}
                                                    Use this area to offer a short teaser of your email’s content. Text here will show in the preview area of some email clients.
                                                {% endblock teaser %}
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END PREHEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #F4F4F4; border-bottom: 1px solid #CCCCCC; border-collapse: collapse !important; border-top: 1px solid #FFFFFF; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td valign="top" class="headerContent" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url('https://gallery.mailchimp.com/b8268543136e3b2650b24c325/images/42daafc9-ab8b-4ad2-ace1-597587cbdca8.png') center center; color: #505050; font-family: Helvetica; font-size: 20px; font-weight: bold; line-height: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; text-align: left; vertical-align: middle;">
                                                <a href="https://oasishub.co" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #EB4102; font-weight: normal; text-decoration: underline;">
                                                    <img src="https://gallery.mailchimp.com/b8268543136e3b2650b24c325/images/ac0b0e13-83fa-4b47-a47b-b9f1d457df03.png" style="-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; max-width: 600px; outline: none; text-decoration: none;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #F4F4F4; border-bottom: 1px solid #CCCCCC; border-collapse: collapse !important; border-top: 1px solid #FFFFFF; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #505050; font-family: Helvetica; font-size: 14px; line-height: 150%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: left;">
                                                {% block bodyContent %}
                                                    <h1 style="color: #202020 !important; display: block; font-family: Helvetica; font-size: 26px; font-style: normal; font-weight: bold; letter-spacing: normal; line-height: 100%; margin-bottom: 10px; margin-left: 0; margin-right: 0; margin-top: 0; text-align: left;">Designing Your Template</h1>
                                                    <h3 style="color: #606060 !important; display: block; font-family: Helvetica; font-size: 16px; font-style: italic; font-weight: normal; letter-spacing: normal; line-height: 100%; margin-bottom: 10px; margin-left: 0; margin-right: 0; margin-top: 0; text-align: left;">Creating a good-looking email is simple</h3>
                                                    Customize your template by clicking on the style editor tabs above. Set your fonts, colors, and styles. After setting your styling is all done you can click here in this area, delete the text, and start adding your own awesome content.
                                                    <br>
                                                    <br>
                                                    <h2 style="color: #404040 !important; display: block; font-family: Helvetica; font-size: 20px; font-style: normal; font-weight: bold; letter-spacing: normal; line-height: 100%; margin-bottom: 10px; margin-left: 0; margin-right: 0; margin-top: 0; text-align: left;">Styling Your Content</h2>
                                                    <h4 style="color: #808080 !important; display: block; font-family: Helvetica; font-size: 14px; font-style: italic; font-weight: normal; letter-spacing: normal; line-height: 100%; margin-bottom: 10px; margin-left: 0; margin-right: 0; margin-top: 0; text-align: left;">Make your email easy to read</h4>
                                                    After you enter your content, highlight the text you want to style and select the options you set in the style editor in the “<em>styles</em>” drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #EB4102; font-weight: normal; text-decoration: underline;">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the “<em>remove formatting</em>” button to strip the text of any formatting and reset your style.
                                                {% endblock bodyContent %}
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="70%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                                <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Got something to share, drop us a line at <a href="mailto:hello@oasishub.co" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">hello@oasishub.co</a> and follow us on
                                                social media:</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tbody>
                                        <tr id="social-row" style="border-bottom: solid #DEE0E2 10px !important; border-left: solid #DEE0E2 10em !important; border-right: solid #DEE0E2 10em !important;">
                                            <td align="center" valign="top" width="33%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;"><a href="http://www.twitter.com/oasis_hub" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Twitter</a></td>
                                            <td align="center" valign="top" width="33%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;"><a href="https://www.linkedin.com/company/oasis-hub/" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">LinkedIn</a></td>
                                            <td align="center" valign="top" width="33%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;"><a href="https://www.facebook.com/TheOasisHUB/" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Facebook</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #F4F4F4; border-collapse: collapse !important; border-top: 1px solid #FFFFFF; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td valign="top" class="footerContent" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #808080; font-family: Helvetica; font-size: 10px; line-height: 150%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 0; text-align: left;" mc:edit="footer_content01">
                                                <em>Copyright © {% now “Y” %} Oasis HUB Limited, All rights reserved.</em>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>